# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.git
target
*.log
*.log.*
/pinyougou-dao/pinyougou-dao.iml___jb_tmp___
/sms_service/mvnw
/sms_service/mvnw.cmd
/sms_service/.mvn/
/ch02-1/mvnw
/ch02-1/mvnw.cmd
/ch03-eureka-server/mvnw.cmd
/ch03-eureka-server/mvnw
/ch03-ribbon-consume/mvnw
/ch03-ribbon-consume/mvnw.cmd
/ch05-hystrix/mvnw.cmd
/ch05-hystrix/.gitignore
/ch05-hystrix/mvnw
Demo/src/main/resources/
Demo/src/test/
ch02-1/.mvn/
ch02-1/src/main/resources/static/
ch02-1/src/main/resources/templates/
ch03-eureka-server/.mvn/
ch03-eureka-server/src/test/
ch03-ribbon-consume/.mvn/
ch03-ribbon-consume/src/main/resources/static/
ch03-ribbon-consume/src/main/resources/templates/
ch03-ribbon-consume/src/test/

/ch05-hystrix-dashboard/mvnw
/ch05-hystrix-dashboard/mvnw.cmd
/ch05-hystrix-dashboard/.gitignore
/ch05-hystrix/.mvn/
/ch05-hystrix-dashboard/.mvn/
/ch05-turbine/.gitignore
/ch05-turbine/mvnw.cmd
/ch05-turbine/mvnw
/ch05-turbine-amqp/mvnw
/ch05-turbine-amqp/.gitignore
/ch05-turbine-amqp/mvnw.cmd
/ch06-feign-consume/.gitignore
/ch06-feign-consume/mvnw
/ch06-feign-consume/mvnw.cmd
/ch07-api-gateway/mvnw.cmd
/ch07-api-gateway/mvnw
ch05-hystrix-dashboard/src/main/resources/static/
ch05-hystrix-dashboard/src/main/resources/templates/
ch05-hystrix/src/main/resources/
ch05-hystrix/src/test/
ch05-turbine-amqp/.mvn/
ch05-turbine-amqp/src/test/
ch05-turbine/.mvn/
ch05-turbine/src/test/
ch06-feign-consume/.mvn/
ch06-feign-consume/src/main/resources/static/
ch06-feign-consume/src/main/resources/templates/
ch06-feign-consume/src/test/

hello-service-api/src/main/resources/
hello-service-api/src/test/
/ch08-config-server/.gitignore
/ch08-config-server/mvnw
/ch08-config-server/mvnw.cmd
/ch08-config-client/mvnw.cmd
/ch08-config-client/mvnw
/ch08-config-client/.gitignore
ch07-api-gateway/.mvn/
ch07-api-gateway/src/test/
ch08-config-server/.mvn/
/ch09-rabbitmq-hello/mvnw.cmd
/ch09-rabbitmq-hello/mvnw
