# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.git
target
*.log
*.log.*
/pinyougou-dao/pinyougou-dao.iml___jb_tmp___
/sms_service/mvnw
/sms_service/mvnw.cmd
/sms_service/.mvn/
/ch02-1/mvnw
/ch02-1/mvnw.cmd
/ch03-eureka-server/mvnw.cmd
/ch03-eureka-server/mvnw
/ch03-ribbon-consume/mvnw
/ch03-ribbon-consume/mvnw.cmd
/ch05-hystrix/mvnw.cmd
/ch05-hystrix/.gitignore
/ch05-hystrix/mvnw
Demo/src/main/resources/
Demo/src/test/
ch02-1/.mvn/
ch02-1/src/main/resources/static/
ch02-1/src/main/resources/templates/
ch03-eureka-server/.mvn/
ch03-eureka-server/src/test/
ch03-ribbon-consume/.mvn/
ch03-ribbon-consume/src/main/resources/static/
ch03-ribbon-consume/src/main/resources/templates/
ch03-ribbon-consume/src/test/
ch05-hystrix/.gitignore
ch05-hystrix/.mvn/
ch05-hystrix/mvnw
ch05-hystrix/mvnw.cmd
ch05-hystrix/src/main/resources/
ch05-hystrix/src/test/
